<!DOCTYPE html>
<html>
<head>
<meta charset=”utf-8”> 
  <title>Twitter Bootstrap : Basic Template using Bootstrap </title>
  <link rel=”stylesheet” href=”css/bootstrap.css”  type=”text/css”/>
<link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
     href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class= "container">
 <h1>This is my Blog</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src=”js/bootstrap.js”></script>
</body>
</html>