<!DOCTYPE html>
<html>
<head>
<style>
<meta charset=”utf-8”> 

 .newspaper {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

</style>
</head>


<body>



<div class= "container">
	<div class="newspaper">
 <h1>This is my Blog</h1>
<%= link_to 'My Blog', controller: 'articles' %>
</div>
</div>
</body>
</html>