// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//WELCOME PAGE
//BODY

body {
    background-color: #d0e4fe;
}


//HEADING

h1 {
    color: orange;
    text-align: center;
    
}

//TEXT

P {
    font-family: "Times New Roman";
    font-size: 20px;
}


//DIV
div {
    background-color: lightgrey;
    width: 1000px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;


   
}







